.App {
  display: grid;
  grid-template:  
            "v d" min-content
            "v p" 1fr
            / min-content 1fr;
  grid-gap: 5px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.App > div {
  overflow: auto;
}
.Data {
  grid-area: d;
  display: flex;
  flex-direction: column;
  height: 50vh;
  resize: vertical;
}
.Process {
  grid-area: p;
  display: flex;
  flex-direction: column;
}
.View {
  grid-area: v;
  display: flex;
  flex-direction: column;
  width: 50vw;
  resize: horizontal;
}
